@page
@model SupermarketWEB.Pages.Productos.DeleteModel
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>

<h3>Are you dure you want to delete this</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Stock)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Description)
        </dd>
    </dl>
    <form method="post">
        <input type="hidden" asp-for=" Producto.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to list</a>
    </form>
</div>

